<body>  
<div class="container-fluid no-gutters" style="width: 100% !important; display: block !important">
  <div class="row"style="height: 90vh !important;" >
    <div class="col-4" style="margin-top: 2%;">
      <div class="input-group mb-4">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Add Criteria</label>
        </div>
        <select class="custom-select rounded-right" placeholder="test" id="inputGroupSelect01">
          <option value=item.fieldvalue *ngFor="let item of filters" (click)="addfilter(item)" >{{item.name}}</option>
        </select>
        <button class="btn btn-primary" style="margin-left: 3px;" type="submit" (click)="newquery()">Search</button>
      </div>
    <div  *ngFor="let object of filterobjects">
        <div class="card rounded" style="margin: 0px; margin-bottom: 10px;">
            <h5 class="card-title">{{object.name}}</h5>

            <div class="card-body" style="display: flex; width: 100%;">
            <div *ngIf="object.fieldtype === 'textboxComponent'" style="width: 100%;">
              <input type="text" #textfield (change)="updatevalue(object,textfield.value)" class="form-control" required>
            </div>

            <div *ngIf="object.fieldtype === 'rangesliderComponent'" style="width: 100%;  display: flex;">
              <input type="text" #minfield (change)="updatevalue(object,minfield.value+','+maxfield.value)" placeholder="Min" class="form-control w-25" style="display: inline-block; width: 100%; margin-right: 3px;">
              <input type="text" #maxfield (change)="updatevalue(object,minfield.value+','+maxfield.value)" placeholder="Max" class="form-control w-25" style="display: inline-block; width: 100%;">
            </div>

            <div *ngIf="object.fieldtype === 'dropdownComponent'" style="width: 100%;">
              <select class="custom-select" id="inputGroupSelect01" style="width: 100%;">
              <option selected>Selection...</option>
              <option value=item.fieldvalue *ngFor="let item of object.values" (click)="updatevalue(object, item.value)" >{{item.value}}</option>
            </select>
            </div>

            <button type="button" class="btn btn-danger" (click)="removefilter(object)" style="float: right; margin-left: 3px;">Remove</button>
          </div>
        </div>
    </div>
    </div>
    <div class="col-1" style="margin-top: 2%;"></div>
    <div class="col-7" style="margin-top: 2%;">
    <div style="width: 100%; height: 100%;">
      <iframe width="100%" height="345" [src]="url">
      </iframe>
      <div *ngIf="results.length === 0">
        <h3>No results</h3>
      </div>
      <div class="card rounded" style="margin: 0px; margin-top: 10px;" *ngFor="let object of results">
        <div style="float: left; word-wrap:break-word; width:50%;">{{object.placename}}, {{object.LocalMunicipalityName}}, {{object.ProvinceName}}, {{object.WardID}}</div>
        <button class="btn btn-warning" style="float: right; margin-right: 3px" (click)="openMap(object.placename,object.LocalMunicipalityName,object.ProvinceName)">Show on Map</button>
        <button class="btn btn-primary" style="float: right; margin-right: 3px;"(click)="openGMap(object.placename,object.LocalMunicipalityName,object.ProvinceName)">Google Maps</button>
        <button class="btn btn-success" style="float: right; margin-right: 3px;"(click)="moreDetails(object)">Details</button>
        <div  style="width: 100%;  height: auto; margin-top: 30px; display: none;" id={{object.OBJECTID}}>
          <ul class='list-group list-group-flush'> <li class='list-group-item' *ngFor='let item of filters'>{{item.name+": \t" + object[item.fieldname]}}</li> </ul>
        </div>
      </div>
    </div> 
    </div>
  </div>
</div>
</body>