/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
.navbar
{
    height: 5vh;
}

.card
{
    width: 100%;
     margin: 10px; 
     padding: 10px; 
     display: inline-block !important;
}

iframe {
    border:  rgb(114, 114, 114);
  }